<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>113160720464-4ao9sedjh62j3k1hdejdba2em3b5kva4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113160720464-4ao9sedjh62j3k1hdejdba2em3b5kva4</string>
	<key>API_KEY</key>
	<string>AIzaSyCtdGUMHWGatls_bEQa1dUJbiapTxnaUKw</string>
	<key>GCM_SENDER_ID</key>
	<string>113160720464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kayosys.RapidHose</string>
	<key>PROJECT_ID</key>
	<string>rapidhose-ed8f5</string>
	<key>STORAGE_BUCKET</key>
	<string>rapidhose-ed8f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113160720464:ios:1c3aec902f43782073c155</string>
	<key>DATABASE_URL</key>
	<string>https://rapidhose-ed8f5.firebaseio.com</string>
</dict>
</plist>